#second {
    margin: 80px 40px;
    font-size: 50px;
    color: red;
    text-shadow: 2px 1px black;
    text-align: center;
}

#second span {
    color: blue;
    font-size: 60px;
}

.buttonContainer {
    width: 30%;
    margin-left: 550px;
    margin-top: 100px;
}

.buttonContainer>.button {
    width: 30%;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}